.resultContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  max-width: 100%;
  height: 4.5rem;
  padding: 1rem;

  background: var(--screen-background);
  color: var(--result-text);
  border-radius: 15px;

  @media (min-width: 380px) {
    width: 360px;
  }
}
