.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.5rem;

  width: 100%;
  min-height: 4.5rem;
  padding: 0.7rem 1rem;

  background: var(--screen-background);
  border-radius: 15px;

  font-size: 1rem;
  color: var(--result-text);

  word-wrap: break-word;
  word-break: break-all;

  span {
    font-size: inherit;
    margin-left: 0.2rem;
  }

  > div:first-child {
    font-size: 0.6em;
    opacity: 0.8;
  }

  @media (min-width: 380px) {
    width: 360px;
  }
}
